    .Navmenu{
        background-color: #222222;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    .Navmenu a{
        float:right;
        display: block;
        padding: 15px 30px;
        background-color: #222222;
        color: #aaa;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        
    }

    .Navmenu a:hover{
        background-color: #111111f;
        color:#ffdd11;
    }

    .Navmenu a.active {
    background-color: #ddddaa;
    color:
}

    .container{
        margin: 150px;
    }

    li{
        border: green solid 4px;
        margin: 5px;
    }

    .block {
    }

    .content-right {
        margin:auto;
        width: 50%;
        float:right;
    }

    .content-left {
        margin:auto;
        width: 50%;
        float:left;
    }

    .content-center {
        margin:auto;
        width: 50%;

    }

    h3 {
        position: relative;
    }

    ul {
        position: relative;
        margin-left: 200px;
    }

    ul li{
        position:relative:
    }