    .Navmenu{
        background-color: #222222;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    .Navmenu a{
        float:right;
        display: block;
        padding: 15px 30px;
        background-color: #222222;
        color: #aaa;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        
    }

    .Navmenu a:hover{
        background-color: #111111f;
        color:#ffdd11;
    }

    .Navmenu a.active {
    background-color: #ddddaa;
    color:
}
    .container{
        margin:50px;
        border:black;
    }
    h1 {
        margin:30px;;
        color: #222222;
        text-align: center
    }
    .skill{
        margin:auto;
        width: 100%;
        clear: both;
        
        padding:20px;
    }

    .item1{
        border:blue;
        margin-right: 25px;
        margin-left: 25px;
        float: left;
        border:blue;

    }
    .item2{
        border:blue;
        margin-right: 40px;
        margin-left: 40px;
        float: left;
        border:blue;
        padding:10px;

    }
    .item3{
        border:blue;
        padding:20px;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
        border:blue;

    }
    h3{
        text-align: center;
        color: #444444;
        border:black;
        margin:0;
    }
    h5{
        text-align: center;
        color: #777777;
        margin:0;
        border:black;
    }
    img.img1{
        display:block;
        margin:auto;
        width: 50%;
        width:70px;
        height:70px;
        margin:30px;
    }
    img.img2{
        width:250px;
        height:70px;
        margin:30px;
    }
